
@font-face {
  font-family: 'Provicali';
  src: url('Provicali.eot?#iefix') format('embedded-opentype'),  url('Provicali.woff') format('woff'), url('Provicali.ttf')  format('truetype'), url('Provicali.svg#Provicali') format('svg');
  font-weight: normal;
  font-style: normal;
}
