
@font-face {
  font-family: 'PlanetKosmos';
  src: url('PlanetKosmos.eot?#iefix') format('embedded-opentype'),  url('PlanetKosmos.woff') format('woff'), url('PlanetKosmos.ttf')  format('truetype'), url('PlanetKosmos.svg#PlanetKosmos') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'PlanetKosmos' !important
}
